extends ./layout/default.jade

block content
    div.teacher
        nav.navbar.navbar-default.navbar-static-top.navbar-fixed-top
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') #ASK
                div#navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a คำถามใหม่ 
                                span.badge.new-questions 0
                    a.btn.btn-primary.navbar-btn.update(href="#") โหลดคำถามใหม่
                    ul.nav.navbar-nav.navbar-right
                        li
                            a เลือกคำถามแล้ว 
                                span.badge.selected-questions 0 ข้อ
                        a.btn.btn-primary.navbar-btn.sending-questions(href="#") ตอบคำถาม

                          

        div.container.questions
            div.row
                div.col-xs-12
                    ul.list-group
                        
            
                                
    script(src='/javascript/teacher.js')