doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title ASK : Q&A SYSTEM FOR SIT ORIENTATION.
		// CSS Include.
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
		link(rel="stylesheet", href="/stylesheets/sweetalert.css")
		link(rel="stylesheet", href="/stylesheets/jqcloud.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")

		// Vendor Include.
		script(src='/javascript/jquery.min.js')
		script(src='/javascript/bootstrap.min.js')
		script(src='/javascript/angular.min.js')
		script(src='/javascript/sweetalert.min.js')
		script(src='/javascript/jqcloud.min.js')
		script(src='/javascript/socket.io.js')
		script(src='/javascript/tagcanvas.js')

	body
		div#main
			block content
